@model ApplicationRole
@{
    ViewData["Title"] = "Create";
}
@section JqueryUIStyle{
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>General Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Role Card</a></li>
                    <li class="breadcrumb-item active">Create New Role</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-xl-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create New Role</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="RoleManagement" asp-action="Create" method="post" >
                    <div class="card-body">
                        <div class="mb-3">
                            <label asp-for="Name">Role Name</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Role Name ">
                            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                        </div>
                       
                    </div>


                    <div class="card-footer">
                        <center>
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="reset" value="Cancle" class="btn btn-primary" />
                        </center>
                    </div>
                </form>
            </div>
            <!-- /.card -->
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
@section InputScript{
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
            $("#datepicker").datepicker();

            $("#CountryList").change(function () {

                var countryId = $("#CountryList option:selected").val();


                $("#CityList").empty();
                $("#DistrictList").empty();

                $("#CityList").append("<option>Choose City</option>");
                $("#DistrictList").append("<option>Choose District</option>");

                $.ajax({

                    type: "Post",
                    url: "/Employee/GetCityByCountryId",
                    data: { CntryId: countryId },
                    success: function (res) {

                        $.each(res, function (i, e) {

                            $("#CityList").append("<option value='" + e.Id + "'>" + e.Name + "</option>");

                        });
                    }

                });




            });

            $("#CityList").change(function () {

                var cityId = $("#CityList option:selected").val();


                $("#DistrictList").empty();
                $("#DistrictList").append("<option>Choose District</option>");

                $.ajax({

                    type: "Post",
                    url: "/Employee/GetDistrictByCityId",
                    data: { CtyId: cityId },
                    success: function (res) {

                        $.each(res, function (i, e) {

                            $("#DistrictList").append("<option value='" + e.Id + "'>" + e.Name + "</option>");

                        });
                    }

                });




            });
        });
    </script>

}

@section jqueryValidation
        {
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>

}

