@model EmployeeVM
@{
    ViewData["Title"] = "Delete";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Delete Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<div class="container-fluid">

    <a asp-controller="Employee" asp-action="Index" class="btn btn-block bg-gradient-success" style="width: 100px;">Return</a>
    <br /><br />
    <div class="row">
        <!-- left column -->
        <div class="col-xl-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Delete @Model.Name Employee</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="Employee" asp-action="Delete">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImageName" />
                    <input type="hidden" asp-for="CVName" />

                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name">Employee Name</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Employee Name " disabled>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentId">Departments</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="(SelectList)ViewBag.DepartmentList" disabled>
                                <option>Choose Department</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Salary">Employee Salary</label>
                            <input type="text" asp-for="Salary" class="form-control" placeholder="Enter Employee Salary " disabled>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Employee Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Enter Employee Email " disabled>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address">Employee Address</label>
                            <input type="text" asp-for="Address" class="form-control" placeholder="Enter Employee Address " disabled>
                        </div>
                        <div class="form-group">
                            <label asp-for="HireDate">Employee HireDate</label>
                            <input type="text" autocomplete="off" asp-for="HireDate" class="form-control" id="datepicker" placeholder="Enter HireDate" disabled>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes">Employee Notes</label>
                            <textarea rows="4" asp-for="Notes" class="form-control" placeholder="Enter Employee Notes " disabled></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" checked asp-for="IsActive" id="exampleCheck1" disabled>
                            <label class="form-check-label" asp-for="IsActive">Is Active</label>
                        </div>
                    </div>



                    <div class="card-footer">
                        <center>
                            <input type="submit" value="Delete" class="btn btn-block bg-gradient-danger" style="width: 100px;" />
                            @*<input type="reset" value="Update" class="btn btn-block bg-gradient-success" style="width: 100px;"/>*@
                        </center>
                    </div>
                </form>
        </div>
        <!-- /.card -->
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div><!-- /.container-fluid -->
</div>

@section InputScript
        {
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>

}

@section jqueryValidation
        {
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>

}
