@model EmployeeVM
@{
    ViewData["Title"] = "Update";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Employee Card</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@section JqueryUIStyle{
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
}

<div class="container-fluid">

    <a asp-controller="Employee" asp-action="Update" class="btn btn-success">Return</a>

    <br /><br />

    <div class="row">
        <!-- left column -->
        <div class="col-xl-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update @Model.Name</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="Employee" asp-action="Update" method="post">

                    <input type="hidden" asp-for="Id" />

                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name">Employee Name</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Employee Name ">
                            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentId">Departments</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="(SelectList)ViewBag.DepartmentList">
                                <option>Choose Department</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Salary">Employee Salary</label>
                            <input type="text" asp-for="Salary" class="form-control" placeholder="Enter Employee Salary ">
                            <span asp-validation-for="Salary" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Employee Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Enter Employee Email ">
                            <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address">Employee Address</label>
                            <input type="text" asp-for="Address" class="form-control" placeholder="Enter Employee Address ">
                            <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HireDate">Employee HireDate</label>
                            <input type="text" autocomplete="off" asp-for="HireDate" class="form-control" id="datepicker" placeholder="Enter HireDate">
                            <span asp-validation-for="Id" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes">Employee Notes</label>
                            <textarea rows="4" asp-for="Notes" class="form-control" placeholder="Enter Employee Notes "></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" checked asp-for="IsActive" id="exampleCheck1">
                            <label class="form-check-label" asp-for="IsActive">Is Active</label>
                        </div>
                    </div>


                    <div class="card-footer">
                        <center>
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <input type="reset" value="Cancle" class="btn btn-success" />
                        </center>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section InputScript{
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
            $("#datepicker").datepicker();
        });
    </script>

}

@section jqueryValidation
        {
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

